#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
    width: 100%;
}

#inspire {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
}

.container.fill-height {
    align-items: normal;
}

a.side_bar_link {
    text-decoration: none;
}

.card__title--primary, .card__text {
    text-align: left;
}

.card, .flex_xs4, .v_card {
    height: 100% !important;
}

.v-card__title {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    font-size: 1.25rem;
    font-weight: 500;
    letter-spacing: .0125em;
    line-height: 2rem;
    word-break: break-all;
    justify-content: space-evenly;
}

.mt {
    margin-top: 10px;
}

.mb {
    margin-bottom: 5px;
}

.titulo_azul {
    background-color: rgba(2, 2, 191, 0.779);
    color: white;
}

.prueba {
    margin-top: 20px;
}


.banner-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.v-banner__content {
  background: rgba(0, 0, 0, 0.5);
}

